.container {
  width: 300px;
  min-height: 23px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.editing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 20px;
  background-color: gold;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  letter-spacing: 3px;
  /* animation: blinkingEffect 1s linear infinite; */
}

.notag {
  width: 300px;
  height: 20px;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(170, 170, 170, 0.6);
  margin: 7px 12px 0 0;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}

.Tag {
  background-color: lawngreen;
  width: fit-content;
  margin: 5px 0 5px 10px;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 13px;
  display: flex;
}

.Tag.Later {
  background-color: lawngreen;
}
.Tag.Important {
  background-color: red;
}
.Tag.Today {
  background-color: blueviolet;
}
.Tag.To.buy {
  background-color: skyblue;
}
.Tag.Immediate {
  background-color: tomato;
  color: midnightblue;
  animation: alert 1.5s linear infinite;
}
.Tag.etc {
  background-color: slategray;
}
.Tag.default {
  background-color: black;
  color: #fff;
}

.content {
  word-break: keep-all;
}

.removeBtn {
  cursor: pointer;
  font-size: 17px;
  margin-left: 5px;
}

@keyframes blinkingEffect {
  50% {
    opacity: 0;
  }
}

@keyframes alert {
  50% {
    background-color: midnightblue;
    color: tomato;
  }
}
