.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.createdTime {
  font-size: 11px;
  letter-spacing: 1px;
  color: rgba(170, 170, 170, 0.6);
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* button에 blinking 빼서 이거 없어도 되긴 함 */
.editDone:hover {
  animation: none;
}

.plus,
.edit,
.done {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
