.board {
  /* #484f5b */
  background-color: #545479;
  width: 1500px;
  height: 780px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.startBtn {
  height: 50px;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  position: absolute;
  top: -60px;
  border-radius: 10px;
  z-index: 200;
  padding: 0 20px;
  text-transform: uppercase;
}
.startBtn:active {
  transform: scale(0.98);
}
