.container {
  position: sticky;
  top: 10px;
  left: 0;
  width: 90vw;
  max-width: 1000px;
  height: 70px;
  margin-top: 95px;
  margin-bottom: 10px;
  z-index: 999;
  background-color: #fbeaff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.buttons {
  width: 100%;
  height: 100%;
  position: relative;
}

.addBtn,
.mineBtn,
.deleteAllBtn,
.showAllBtn,
.foldBtn {
  width: calc((100% - 20px) / 4);
  height: 100%;
  background-color: transparent;
  border: none;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.mineBtn,
.showAllBtn {
  /* pointer-events: none; */
  border-right: 2px solid black;
  opacity: 0.4;
}

.showAllBtn {
  border: none;
}

.foldBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  background-color: #354b45;
  color: #fff;
  font-size: 20px;
  border: none;
}

.admin {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

@keyframes toggle {
  100% {
    width: 0px;
  }
}
