* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #e5fff7;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.title {
  font-size: 26px;
}

/* 
보라색 5d0cff
주황색 ff7614
하늘색 149fff
분홍색 fa0087
노란색 ffd20c
*/
